

.pos-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // justify-items: ;
    text-align: center;
    border-radius: 0;


    
    
    
    
    .breadC{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        
        .header-left{
            display: flex;
            justify-content: end;
        }
    }
}

.title-left {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title-right{
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.product-table{
  margin-top: 0;
}

.saleContainer{
    // max-height: 100vh;
    margin-top: 0;


    .salesProductContainer{
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        max-height: 70vh;
        overflow-y: auto;
        // align-items: center;
    
        &::-webkit-scrollbar {
        width: 7px;
        }
        &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb {
        background-color:  rgb(114, 175, 149);
        }
    }
}





.under-element {

    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    justify-content: end;
    



    .top-container{
        width: 100%;
        margin: 10x 0;
        display: flex;
        justify-content: space-between;
        // height: 30px;

        .left-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 30%;

            .checkbox{
                min-width: 20x;
                min-height: 20x;
                background-color: aqua;

            }
        }
        .right-container{
            // width: 100%;
            flex: 1;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            // width: 45%;

            input{
                border: 1px solid grey;
                max-width: 50%;
                display: flex;
                text-align: right;
            }
        }
    }

    .contain{
        width: 100%;
        overflow: hidden;
        background-color:   rgb(240, 235, 235);

    }
    .b-container{
        display: flex;
        justify-content: space-between;
        color: #333;
        padding: 10px;
        

        .button-col{
            width: 130px;
            white-space: nowrap;
        }

        .button-col-2{
            width: 160px;
            white-space: nowrap;
        }
    }

    .displayy{
        display: flex
    }


    .nameTemplate{

        &:hover{
            background-color: rgb(227, 218, 218);
            border-radius: 20px;
            // padding: 5px;
            box-sizing:content-box;


            i{
                display: block;
            }
        }


        i {
            display: none;
        }
    }
    
}

.harmburger-btn {
    display: none;
    justify-self: start;
}

.order-wrapper {
   display: flex; 
}

.action-container {
   display: flex;
   justify-content: space-evenly;
   padding-left: 0;
}

.action-container2 {
   display: flex;
   justify-content: space-evenly;
   padding-left: 0;
}

.action-btns {
  width: 150px;
  height: 30px;     
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 8px;
  color: var(--lightColor);
  -webkit-box-shadow: var(--btnBoxShadow);
          box-shadow: var(--btnBoxShadow);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.anchor-class {
  width: 200px;
  height: 40px;
  border-radius: 7px;
  font-weight: bolder;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  color: white;
  text-transform: uppercase;
}

.invoice-contain {
    min-width: 25vw;
    font-size: 15px;
    max-width: 50vw;
}

@media screen and (max-width: 890px) {
    .action-container2 { 
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-inline: 2%;
     }
}

@media screen and (max-width: 700px) {
    .invoice-contain {
      min-width: 80vw;
    }

    .invoice-heading {
       font-size: 14px;
    }

    .action-btns{
     width: 100%;
     margin-inline: auto;
    }

    .anchor-class {
      width: 100%;
    }

    .action-container { 
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    .b-container {
      justify-content: space-around;
    }

    .title {
      width: 700px;
      text-align: left;
    }

    .harmburger-btn {
      display: block;
    }

    .title-left {
        width: 170px;
        height: 100px;
        position: absolute;
        top: 7%;
        left: 1%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        justify-content: center;
        background-color: rgb(31, 105, 117);
        border-radius: 2px;
        padding-bottom: 5px;
        padding-left: 5px;
        gap: 4px;
    }

    .pos-top-container {
        justify-content: start;
        gap: 20px;
    }

        .arrangediv{
            width: 100%;
        }
        .displayy{
            display: none
        }
}

@media screen and (max-width: 1199px) { 
    .order-wrapper {
        flex-direction: column-reverse;
    }
}

// @media screen and (min-width: 600px) {    
//     .displayy{
//         display: none
//     }
    
// }



