
            .input{
                width: 100%;
                flex: 1;
                height: 30px;
                display: flex;
                min-width: 50px;
                // align-items: center;
                justify-content: center;
                justify-items: center;
                text-align: center;

                background-color: #fff;
                // border: none;
                // margin: 0;
                // '#de2fff', '#4094f1', '#27bf68', '#fc304f', '#edb213'
                // color: #fc304f;
                // padding: 0;
            }





.tableContainer{
            display: flex;
            gap: 10px;
            justify-items: center;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            max-height: 65vh;
            overflow-y: auto;
            // align-items: center;
        
            &::-webkit-scrollbar {
            width: 7px;
            }
            &::-webkit-scrollbar-track {
            background-color: #f1f1f1;
            }
            &::-webkit-scrollbar-thumb {
            background-color:  rgb(114, 175, 149);
            }















            .farm{
                color: blueviolet;
            }


    td{
        font-weight:800;
        font-size: 14px;

    }

    
    .table-head{
        background: rgb(31, 105, 117);
    
        color: #fff;
    
        border: #000;
    
    }
    
    
        .table-body{

    
            background-color:rgb(242, 232, 232);
    
            tr:nth-child(even){
            background-color:  rgb(241, 227, 227);

            // .product-name-col{
            //     // width: 22%;
            // }

            // .price-col, .subtotal-col{
            //     // width: 15%;
            // }
            
            // .product-name-col{
            //     // padding:  2px 2px;
            // }
        }


        .table-row{
            width: 22%;
            
        }



        .quantity-box{
            width: 100%;
            height: 100%;
            // padding: 0  2px;
            display: flex;
            align-items: center;
            border: 1px solid rgb(226, 221, 221);
            border-radius: 4px;






            .input-box{
                width: 100%;
                flex: 1;
                height: 30px;
                display: flex;
                min-width: 50px;
                // align-items: center;
                // justify-content: center;
                // justify-items: center;
                text-align: center;

                background-color: #fff;
                // border: none;
                // margin: 0;
                // padding: 0;
            }




            .bttn{
                background: rgb(244, 242, 242);
                width: 30px;
                height: 30px;

                &:active{
                    background: #ddd;
                }
                &:hover{
                    background: #ccc;
                }
     
            }

            .bttn.left {
                border-radius: 4px 0 0 4px;
                color: rgb(30, 3, 3);
                font-size: 12px;
                font-weight: bolder;
                padding: 0;
       
     
            }
            .bttn.right {
                border-radius: 0 4px 4px 0;
                font-size: large;
            }

        }
        

    }

}

.popup-modal-overlay {
    position: fixed; /* Fixed positioning for full screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the modal content vertically and horizontally */
    z-index: 1000; 
}

.popup-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.addons-section {
  min-width: 50%;
  margin-inline: auto;
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
}

.pop-heading {
  display: flex;
  justify-content: space-between;  
  margin-bottom: 20px;
}

.popup-item {
    width: 100%;
    display:flex; 
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: larger;
    margin-bottom: 5px;
}

// @media screen and (max-width: 700px) {
//     .addons-section {

//     }
// }